<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class='progress-wrapper'>
        <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for progress to start...</div>

    {% load static %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            document.addEventListener("DOMContentLoaded", function () {
                CeleryProgressBar.initProgressBar(progressUrl);
            });
    </script>
</body>
</html>